/* 
 *  ユーザCSS
 * */

.ui-state-default1 {
  background-color: #eeeeff;
}
.ui-state-default2 {
  background-color: #ddddff;
}
.ui-state-default3 {
  background-color: #ccccff;
}
.ui-state-default4 {
  background-color: #bbbbff;
}
.ui-state-default5 {
  background-color: #aaaaff;
}
.ui-state-default6 {
  background-color: #9999ff;
}

