/* 
 *  ユーザCSS
 * */

.container {
  font-size: x-large;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}
/* 背景色 */
.strong-green-literal-white{
  background-color: #003B00;
  color: #ffffff;
  text-align: center;
  padding: 40px 20px;
}
.white-literal-strong-green{
  background-color: #ffffff;
  color: #003B00;
  text-align: center;
  padding: 40px 20px;

}
.light-green-literal-white{
  background-color: #005900;
  color: #ffffff;
  text-align: center;
  padding: 40px 20px;
}
.white-literal-light-green{
  background-color: #ffffff;
  color: #005900;
  text-align: center;
  padding: 40px 20px;
}

.white-green-literal-white{
  background-color: #23B04A;
  color: #ffffff;
  text-align: center;
  padding: 40px 20px;
}
.white-literal-black{
  background-color: #ffffff;
  color: #000000;
}
/* テーブル系 */ 
.table-back {
  background-color: #ddffdd;
}
/* テーブル枠線 */
table, tbody, tr, td, th{
  border: solid 0.1px #ffffff;
}

/* bootstrapの表の枠線を上書き */
.table-bordered th,
.table-bordered tbody,
.table-bordered td {
   border: 1px solid #228b22 !important;
}
.panel-default {
  border-color: #ffffff;
}
/*　/bootstrapの表の枠線を上書き */

.align-vertical-center {
  text-align: center;
  vertical-align: middle !important;
}

.twinleaf {
  text-align: center;

}

footer {
  color: gray;
  text-align: center;
  margin-top: 5em;
  margin-bottom 2em;
}
